secrets/gspread_service_account.json
.env
secrets/
data/apollo_exports

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# React
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
# /frontend/build  # Allow build files for deployment
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# cursor
.cursor/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# notes
/docs/roadmap.md